<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field properties-editor" data-template="product[properties][__name__]">
    <%= f.label :properties %>
    <table>
      <thead>
        <tr>
          <th>Property</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :properties do |p| %>
          <% (@product.properties || {}).each do |key, val| %>
            <tr class="property">
              <td><%= text_field_tag nil, nil, value: key, class: 'property-name' %></td>
              <td><%= p.text_field key, value: val %></td>
              <td><a href="#" class="remove-property">Remove</a></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <a href="#" class="add-property">New property</a>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
