<h1>Listing products</h1>

<%= form_tag(nil, method: 'get') do %>
  <div class="field">
    <%= label_tag :term, 'Search for' %><br>
    <%= text_field_tag :term, params[:term] %>
  </div>
  <div class="actions">
    <%= submit_tag 'Search', name: nil %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Properties</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= show_properties(product.properties) %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
