<div class="show_product">
  <p id="notice"><%= notice %></p>

<!--   <p>
    <strong>Title:</strong>
    <%= @product.title %>
  </p> -->
  <h1><%= @product.title %></h1>

  <p>
    <strong>Properties:</strong>
    <%= show_properties(@product.properties) %>
  </p>
</div>
<div class="actions">
  <%= link_to 'Back', products_path, class: 'button'  %>
  <%= link_to 'Edit', edit_product_path(@product), class: 'button button-primary'  %>
</div>